* text=auto eol=lf

*.blade.php diff=html
*.css       diff=css
*.html      diff=html
*.md        diff=markdown
*.php       diff=php
*.vue       diff=html
*.js        diff=javascript
*.ts        diff=typescript
*.json      text

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
